<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jlbloggingfa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/83b1c1ca-8b55-469c-a260-c87a1d2008ed/resourceGroups/blogging-rg/providers/Microsoft.Web/sites/jlbloggingfa</ResourceId>
    <UserName>$jlbloggingfa</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://jlbloggingfa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>